html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /*color: #4A4A4A;*/
  color: #1d2951;
  width: auto;
  height: 100vh;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Nav Bar */

.nav {
  display: flex;
  position: fixed;
  height: 64px;
  width: 100%;
  background-color: white;
  align-items: center;
  z-index: 10;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 24px;
}

.logo img {
  height: 32px;
}

.colmar {
  color: #1d2951;
  font-weight: bold;
}

.academy {
  color: #7fe6e8;
}

.topoptions {
  margin-right: 16px;
}

.topoptions span a {
  padding: 0 8px;
  text-decoration: none;
  color: #1d2951;
}

/* Hero Section */

.hero {
  display: inline-flex;
  flex-direction: row;
  background-color: #1d2951;
  width: 100%;
  position: relative;
  padding-top: 64px;
  align-items: center;
  color: #7fe6e8;
}

.hero img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.herocontent {
  margin-left: 24px;
  width: 375px;
}

.herocontent h1 {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 24px;
}

.herocontent p {
  font-size: 1.5rem;
  padding-bottom: 24px;
}

button {
  background-color: #7fe6e8;
  color: #1d2951;
  width: 100%;
  font-size: 1.25rem;
  padding: 8px;
}

/* Banner 2 */

/* Keep Practicing Section*/

.banner2 {
  display: flex;
  flex-direction: row;
}

.hurt {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  width: 60%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.hurt img {
  width: 100%;
}

.hurtcontent p {
  font-size: 1.2rem;
  padding-bottom: 24px;
  line-height: 2rem;
}

/* Extra Options Section*/
.options {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 2px solid #1d2951;
  margin-left: 20px;
  justify-content: flex-start;
  padding-top: 16px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.option img {
  width: 35%;
  height: auto;
}

.optioncontent {
  padding-left: 24px;
}

.optioncontent h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.optioncontent p a {
  text-decoration: none;
  color: #7fe6e8;
}

.link {
  padding-top: 8px;
}

.optioncontent p {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

#orientation {
  border-bottom: 1px solid #1d2951;
  margin-bottom: 0px;
}

#campus {
  border-top: 1px solid #1d2951;
}

#guest {
  background-color: #1d2951;
  color: #7fe6e8;
}

#guest p a {
  color: white;
}

/* Start Learning */
.learning {
  background-color: #1d2951;
  padding: 32px 72px;
  text-align: center;
}

.learning h2 {
  color: #7fe6e8;
}

.classcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.card {
  background-color: white;
  width: 30%;
  margin-top: 32px;
  text-align: left;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 16px;
}

.card .courses {
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 1.2rem;
}

.card p {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

/* Thesis Section*/
.thesis h2 {
  text-align: center;
  padding-top: 64px;
}
.thesiscontent {
  display: flex;
  flex-direction: row;
}

video {
  width: 100%;
  height: auto;
}

.urban {
  width: 60%;
  padding: 32px 24px 24px 24px;
}

.urban h3, .toption h3 {
  font-size: 1.7rem;
  padding-bottom: 8px;
  font-weight: bold;
  line-height: 2rem;
}

.urban h3 {
  padding-top: 24px;
}

.urban p, .toptioncontent p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.toptions {
  padding-top: 32px;
}

.toption {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.thesisoptions {
  width: 40%;
}

.toption .toptioncontent {
  width: 65%;
  padding-left: 16px;
}

.toption img {
  width: 35%;
  height: auto;
}

#fisma {
  background-color: #1d2951;
  color: #7fe6e8;
}


/* Footer */
footer {
  color: #1d2951;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  width: 100%;
  height: 90px;
  border-top: 1px solid #1d2951;
}

.footer-container p {
  display: flex;
  flex-grow: 1;
  margin-left: 24px;
}

.footer-container span a {
  padding: 0px 16px;
  text-decoration: none;
  color: #1d2951;
}

.terms {
  padding-right: 24px;
}
