html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4A4A4A;
  width: auto;
  height: 100vh;
}

video {
  width: 60%;
  height: auto;
}
/* Nav Bar */

.nav {
  display: flex;
  position: fixed;
  height: 64px;
  width: 100%;
  background-color: white;
  align-items: center;
  z-index: 10;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 24px;
}

.logo img {
  height: 32px;
}

.colmar {
  color: #4A4A4A;
  font-weight: bold;
}

.academy {
  color: #9B9B9B;
}

.topoptions {
  margin-right: 16px;
}

.topoptions span a {
  padding: 0 8px;
  text-decoration: none;
  color: #4A4A4A;
}

/* Hero Section */

.hero {
  display: inline-flex;
  flex-direction: row;
  background-color: #D8D8D8;
  width: 100%;
  position: relative;
  padding-top: 64px;
  align-items: center;
}

.hero img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.herocontent {
  margin-left: 24px;
  width: 375px;
}

.herocontent h1 {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 24px;
}

.herocontent p {
  font-size: 1.5rem;
  padding-bottom: 24px;
}

button {
  background-color: #4A4A4A;
  color: white;
  width: 100%;
  font-size: 1.25rem;
  padding: 8px;
}

/* Banner 2 */
.banner2 {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
}

.hurt {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  width: 60%;
}

.hurt img {
  width: 100%;
}

.hurtcontent {

}

.hurtcontent h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 24px;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  width: 100%;
  height: 90px;
}

.footer-container p {
  display: flex;
  flex-grow: 1;
  margin-left: 24px;
}

.footer-container span a {
  padding: 0px 16px;
  text-decoration: none;
}

.terms {
  padding-right: 24px;
}
